html {
    background-color:	black;
    font-family:	sans-serif;
}

.bod {
    margin:		0;
    display:		block;
    background-color:	white;
}

#nav {
    background-color:	black;
    color: 		white;
    margin:		0;
    padding-top:	0.2em;
    padding-bottom:	0.2em;
}

#nav a:link, #nav a:visited {
    color:		white;
    font-weight:	bold;
    text-decoration:	none;
}

#nav a:hover, #nav a:active {
    color:		white;
    font-weight:	bold;
    text-decoration:	underline;
}

#page {
    background-color:	white;
    margin-left:	2.4em;
    margin-right:	2.4em;
    margin-top:		1em;
    margin-bottom:	2.0em;
}

h1 {
    text-align:		center; 
}

.icon {
    width:		1em;
    height:		1em;
}

.category-circle {
    display:		inline-block; 
    border-radius: 	50%;
    width:		1em;
    height:		1em;
}

td.padleft {
    padding-left:	1em;
}

td {
    vertical-align:	top; 
}

td.bibtexnumber {
    padding-right:	0.5em;
}
